<!-- templates/settings_smtp_detail/workflows/workflow-init.html -->
<!-- Fonction init() uniquement - Les props sont dans alpinejs.html -->

// Initialisation du composant
init: function() {
    log.info('PAGE_INIT', { page: 'settings_smtp_detail' });
    
    const urlParams = new URLSearchParams(window.location.search);
    this.profilId = urlParams.get('id');
    this.isNew = urlParams.get('action') === 'new';
    
    if (!this.isNew && !this.profilId) {
        this.error = 'ID du profil manquant';
        return;
    }
    
    if (!this.isNew) {
        this.initialLoad();
    } else {
        this.loading = false;
    }
}
