<!-- templates/dashboard/workflows/switch-view-card.html -->
<!-- Mega-function: Passer en vue carte -->

switchViewCard: async function() {
    const workflowId = crypto.randomUUID();
    const startTime = Date.now();
    
    log.info('WORKFLOW_START', { 
        workflowId,
        workflow: 'switchViewCard'
    });
    
    this.viewMode = 'card';
    
    log.debug('VIEW_CHANGED', { viewMode: this.viewMode });
    
    log.info('WORKFLOW_SUCCESS', { 
        workflowId,
        duration: Date.now() - startTime
    });
}
