<!-- templates/dashboard/workflows/switch-view-list.html -->
<!-- Mega-function: Passer en vue liste -->

switchViewList: async function() {
    const workflowId = crypto.randomUUID();
    const startTime = Date.now();
    
    log.info('WORKFLOW_START', { 
        workflowId,
        workflow: 'switchViewList'
    });
    
    this.viewMode = 'list';
    
    log.debug('VIEW_CHANGED', { viewMode: this.viewMode });
    
    log.info('WORKFLOW_SUCCESS', { 
        workflowId,
        duration: Date.now() - startTime
    });
}
