// Workflow: Filtrer les événements non lus

/**
 * @action Activer le filtre pour n'afficher que les événements non lus
 * @checkpoint filter-unread-applied
 */
filterUnread: function() {
  const workflowId = crypto.randomUUID();
  
  log.info('WORKFLOW_START', { 
    workflowId,
    workflow: 'filterUnread',
    previousFilter: this.filterType,
    unreadCount: this.unreadCount
  });
  
  // @action Activer le filtre non lus
  this.filterType = 'unread';
  this.page = 1;
  
  log.debug('FILTER_APPLIED', { 
    filterType: this.filterType,
    filteredCount: this.filteredEvents.length,
    totalUnread: this.unreadCount
  });
  
  log.info('WORKFLOW_SUCCESS', { 
    workflowId,
    filteredCount: this.filteredEvents.length
  });
}
