<!-- templates/machine_a_cafe/alpinejs.html -->
<!-- Initialisation Alpine.js avec includes des workflows -->
<script>
    // Logger global pour la page
    const log = {
        debug: (event, data) => console.log(`[DEBUG][${event}]`, JSON.stringify(data)),
        info: (event, data) => console.log(`[INFO][${event}]`, JSON.stringify(data)),
        warn: (event, data) => console.warn(`[WARN][${event}]`, JSON.stringify(data)),
        error: (event, data) => console.error(`[ERROR][${event}]`, JSON.stringify(data))
    };

    document.addEventListener('alpine:init', () => {
        Alpine.data('machineCafe', () => ({
            // État initial (depuis workflow-init.html)
            {% include 'machine_a_cafe/workflows/workflow-init.html' %},
            
            // Workflows (mega-functions)
            {% include 'machine_a_cafe/workflows/faire-espresso.html' %},
            {% include 'machine_a_cafe/workflows/faire-cafe-long.html' %},
            {% include 'machine_a_cafe/workflows/faire-cappuccino.html' %},
            {% include 'machine_a_cafe/workflows/remplir-eau.html' %},
            {% include 'machine_a_cafe/workflows/ajouter-grains.html' %},
            {% include 'machine_a_cafe/workflows/remplir-lait.html' %},
            {% include 'machine_a_cafe/workflows/tout-remplir.html' %}
        }));
    });
</script>
