// Workflow: Afficher tous les événements

/**
 * @action Réinitialiser le filtre pour afficher tous les événements
 * @checkpoint filter-reset
 */
showAllEvents: function() {
  const workflowId = crypto.randomUUID();
  
  log.info('WORKFLOW_START', { 
    workflowId,
    workflow: 'filterAll',
    previousFilter: this.filterType
  });
  
  // @action Réinitialiser le filtre de type
  this.filterType = 'all';
  this.page = 1;
  
  log.debug('FILTER_RESET', { 
    filterType: this.filterType,
    filteredCount: this.filteredEvents.length 
  });
  
  log.info('WORKFLOW_SUCCESS', { 
    workflowId,
    filteredCount: this.filteredEvents.length
  });
}
