<!-- templates/impayes_detail/workflows/workflow-init.html -->
<!-- Fonction init() uniquement - Les props sont dans alpinejs.html -->

// Initialisation du composant
init: function() {
    log.info('PAGE_INIT', { page: 'impayes_detail' });
    
    // Extraire l'ID de l'URL
    const urlParams = new URLSearchParams(window.location.search);
    this.impayeId = urlParams.get('id');
    
    if (!this.impayeId) {
        this.error = 'ID de facture manquant';
        return;
    }
    
    // Charger les données
    this.initialLoad();
}
