// Workflow: Open new profile modal
newProfil: function() {
    const workflowId = crypto.randomUUID();
    log.info('WORKFLOW_START', { workflowId, workflow: 'newProfil' });
    
    try {
        this.editingProfile = {
            id: null,
            nom: '',
            host: '',
            port: 587,
            secure: false,
            username: '',
            password: '',
            from_email: '',
            from_name: ''
        };
        this.showCreateModal = true;
        
        log.info('WORKFLOW_SUCCESS', { workflowId });
    } catch (error) {
        log.error('WORKFLOW_ERROR', { workflowId, error: error.message });
    }
}
