<!-- templates/relances_detail/workflows/workflow-init.html -->
<!-- Fonction init() uniquement - Les props sont dans alpinejs.html -->

// Initialisation du composant
init: function() {
    log.info('PAGE_INIT', { page: 'relances_detail' });
    
    // Extraire l'ID de l'URL
    const urlParams = new URLSearchParams(window.location.search);
    this.relanceId = urlParams.get('id');
    
    if (!this.relanceId) {
        this.error = 'ID de relance manquant';
        return;
    }
    
    // Charger les données
    this.initialLoad();
}
