// Workflow: View contact detail
viewContact: function(contact) {
    const workflowId = crypto.randomUUID();
    log.info('WORKFLOW_START', { workflowId, workflow: 'viewContact', contactId: contact.id });
    
    try {
        this.selectedContact = contact;
        this.showDetailSlideover = true;
        this.openDropdown = null;
        
        log.info('WORKFLOW_SUCCESS', { workflowId, contactId: contact.id });
    } catch (error) {
        log.error('WORKFLOW_ERROR', { workflowId, error: error.message });
    }
}
