<!-- Workflow: Ouvrir détail -->

async openDetail(facture) {
  // @checkpoint open-detail-called
  // @action Stocker facture sélectionnée
  // @checkpoint facture-selected
  this.selectedFacture = { ...facture };
  
  // @action Initialiser note (vide pour nouvelle note)
  // @checkpoint note-initialized
  this.noteContent = '';
  
  // @action Afficher panel
  // @checkpoint panel-shown
  this.showDetailPanel = true;
  
  log.info('open-detail', { factureId: facture.id, notesCount: this.notesList?.length || 0 });
}