<script>
    // Logger global
    const log = {
        debug: (...args) => console.debug('[DEBUG]', ...args),
        info: (...args) => console.info('[INFO]', ...args),
        warn: (...args) => console.warn('[WARN]', ...args),
        error: (...args) => console.error('[ERROR]', ...args)
    };

    document.addEventListener('alpine:init', () => {
        Alpine.data('helloPage', () => ({
            // Props réactives
            prenom: null,
            showPopup: false,
            inputValue: '',

            // Workflows
            {% include 'hello/workflows/demander-prenom.html' %},
            {% include 'hello/workflows/valider-prenom.html' %},
            {% include 'hello/workflows/afficher-message.html' %},

            // Init
            {% include 'hello/workflows/workflow-init.html' %}
        }));
    });
</script>
