<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}Marki App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body class="bg-gray-100">
    {% block content %}{% endblock %}
    
    <script src="{{ url_for('static', filename='js/pages/main.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
