// Workflow: Open new sequence modal
newSequence: function() {
    const workflowId = crypto.randomUUID();
    log.info('WORKFLOW_START', { workflowId, workflow: 'newSequence' });
    
    try {
        this.editingSequence = {
            id: null,
            nom: '',
            type_sequence: 'relance',
            niveau: 1,
            actif: 1
        };
        this.showCreateModal = true;
        
        log.info('WORKFLOW_SUCCESS', { workflowId });
    } catch (error) {
        log.error('WORKFLOW_ERROR', { workflowId, error: error.message });
    }
}
