<!-- templates/portail_mission/workflows/workflow-init.html -->
<!-- Fonction init() uniquement - Les props sont dans alpinejs.html -->

// Initialisation du composant
init: function() {
    log.info('PAGE_INIT', { page: 'portail_mission' });
    
    // Récupérer le token de l'URL ou localStorage
    const urlParams = new URLSearchParams(window.location.search);
    this.token = urlParams.get('token') || localStorage.getItem('mission_token');
    
    if (!this.token) {
        this.error = 'Token de mission manquant';
        return;
    }
    
    // Sauvegarder le token
    localStorage.setItem('mission_token', this.token);
    
    // Charger les données
    this.initialLoad();
}
