<!-- templates/relances_calendrier/workflows/open-edit-relance.html -->

openEditRelance: async function(relance) {
    const workflowId = crypto.randomUUID();
    log.info('WORKFLOW_START', { workflowId, workflow: 'openEditRelance', relanceId: relance?.id });
    
    try {
        this.selectedRelance = relance;
        this.editForm = {
            date: relance.date,
            destinataire: relance.destinataire,
            objet: relance.objet,
            corps: relance.corps || ''
        };
        this.showEditModal = true;
        
        log.debug('STATE_UPDATE', { selectedRelance: relance.id, showEditModal: true });
        log.info('WORKFLOW_SUCCESS', { workflowId });
        
    } catch (error) {
        log.error('WORKFLOW_ERROR', { workflowId, error: error.message });
    }
}
