<!-- templates/relances_validation/workflows/select-relance.html -->

selectRelance: async function(relance) {
    const workflowId = crypto.randomUUID();
    log.info('WORKFLOW_START', { workflowId, workflow: 'selectRelance', relanceId: relance?.id });
    
    try {
        this.selectedRelance = relance;
        this.editForm = {
            destinataire: relance.destinataire,
            date: relance.dateProgrammee?.split('/').reverse().join('-'),
            objet: relance.objet,
            corps: relance.corps
        };
        
        log.debug('STATE_UPDATE', { selectedRelance: relance.id });
        log.info('WORKFLOW_SUCCESS', { workflowId });
        
    } catch (error) {
        log.error('WORKFLOW_ERROR', { workflowId, error: error.message });
    }
}
